
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
	<script src="~/js/site.js"></script>
    </head>
 <body class="container">
    <img src="~/images/logo.jpg" class="logo" alt="logo" />
    <h1 class="h1">Welcome to Book Store Application</h1>
    <p>This is the home page of our book store application</p>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>

<script>
    $(document).ready(function(){
        alert("Page loaded");
    });
</script>
