@*@{
    ViewData["Title"] = "Home";
}*@

@{
    var book = ViewData["Book"] as BookModel;
}

@section breadcrumb {
    <nav area-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">About</a></li>
            <li class="breadcrumb-item"><a href="#">Index</a></li>
        </ol>
    </nav>
}

    <!--<img class="mt-5" id="logo" src="https://images.pexels.com/photos/906150/pexels-photo-906150.jpeg?auto=compress&cs=tinysrgb&w=600  /">
    <h1 class="h1">Welcome to Home Page</h1>-->
<section class="jumbotron text-center mt-5">
    <div class="container">
        <h1>Welcome to Bookstore @ViewData["CustomProperty"]</h1>
        <h1>Id - @book.Id</h1><br />
        <h1>Title - @book.Title</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>


    
@section scripts{
    <script>
        $(document).ready(function () {
            alert("document is ready");
        })
    </script>
}

