
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBooks</title>
    <script>
       function fun1(){
           alert("You did it ");
       }
    </script>
</head>
<body>
    <h1>All Book List</h1>
    <button onclick="fun1()">Click Me</button>
</body>
</html>
